<html lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=EmulateIE11" />
<head>
    <title>
        BPCE Post Page
    </title>
</head>
<body>
    <form action="/" method="POST">
        <label for="persons">Persons</label><br>
        <input type="text" id="persons" name="persons" value=""><br/>
        <label for="site">Site</label><br/>
        <input type="text" id="site" name="site" value="XXXX"><br/>
        <label for="role">Role</label><br/>
        <input type="text" id="role" name="role" value="XXXX"><br/> 
        <label for="role">Chart</label><br/>
        <input type="text" id="chart" name="chart" value="BP"><br/>            
        <label for="role">Frameh</label><br/>
        <input type="text" id="frameh" name="frameh" value="530"><br/>            
        <label for="role">Combo</label><br/>
        <input type="text" id="combo" name="combo" value="0"><br/>            
        <input type="submit" value="Submit">
    </form> 
</body>
</html>